{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<!-- Funcionário: {{ object }} -->

    <form method="POST">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn-main">Salvar</button>
    </form>

    <!-- object representa o model em edição, no caso, o funcionário -->
    <!-- object.documento_set.all é o recurso objetos relacionados -->

    {% if object %} <!-- se não for inclusão de funcionário -->
        <h4>Documentos</h4>
        <ul>
        {% for documento in object.documento_set.all %}
            <li>
                <a href="{{ documento.arquivo.url }} "> {{ documento }} </a> <br>
            </li>
        {% endfor %}
        </ul>
        <a href="{% url 'create_documento' object.id %}" class="btn btn-success">
            Adicionar Documento
        </a>

        <br><br>
        <h4>Banco de horas</h4>
        <ul>
        {% for registro_hora in object.registrohoraextra_set.all %}
            <li>
                <a href="{% url 'update_hora_extra' registro_hora.id %}">
                    {{ registro_hora.motivo }} | {{ registro_hora.horas }}
                </a> <br>
            </li>
        {% endfor %}
        </ul>

        <h4>total de horas extras: {{ object.total_horas_extras|floatformat:2 }}</h4>
    {% endif %} <!-- se não for inclusão de funcionário -->

{% endblock %}
